@model List<PracticaProgrmacion3.Models.DTOlistado>
@{
                /**/

                ViewBag.Title = "Listado";
}

<h2>Listado</h2>
<div class="col-1"></div>
<div class="col-10">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Patente</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model)
            {
                <tr>
                    <td>@l.patente</td>
                    <td>@l.nombre</td>
                    <td>@l.precio</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-1"></div>

