@model List<PracticaProgrmacion3.Models.DTOlistado>
@{
                ViewBag.Title = "Listado";
}

<h2>Listado</h2>
<div class="col-1"></div>
<div class="col-10">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Patente</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model)
            {
                <tr>
                    <td class="text-center">@l.patente</td>
                    <td class="text-center">@l.nombre</td>
                    <td class="text-center">@l.precio</td>
                    <td class="text-center">
                        <a href="/Lavado/Editar?idLavado=@l.idlavado" class="btn btn-success">Editar</a>
                        <a href="/Lavado/Eliminar?idLavado=@l.idlavado" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-1"></div>

